body {
    background: #fdfdfd;
    /*  background: #DAF0EE;*/
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/*
.button-retail{background-color:#58AA00;border-color:#58AA00;color:#fff} 
.button-retail.open{background-color:#4b9000}
*/

.button-retail {
    background-color: #47A5DF;
    border-color: #47A5DF;
    color: #fff;
}

.button-retail.open {
    background-color: #319adb;
}

.button-card {
    background-color: #47A5DF;
    border-color: #47A5DF;
    color: #fff;
}

.button-card.open {
    background-color: #319adb;
}

.button-marketing {
    background-color: #47A5DF;
    border-color: #47A5DF;
    color: #fff;
}

.button-marketing.open {
    background-color: #319adb;
}


/*
.button-marketing{background-color:#8b008b;border-color:#8b008b;color:#fff}
.button-marketing.open{background-color:#720071}
*/

.button-right {
    position: absolute;
    bottom: 1rem;
    right: 4rem;
}

.button-left {
    position: absolute;
    bottom: 1rem;
    left: 4rem;
}

input[type="text"]#gamename {
    background: none;
    text-align: center;
    font-size: 2em;
    font-style: italic;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}

.page-heading {
    @include page-heading();
}

@media screen and (min-width: 360px) {
    .card-style {
        width: 9em;
        height: 10em;
    }
}

.label {
    border-radius: 20px;
}

.card-style {
    -ms-flex-line-pack: center;
    align-content: center;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
    background: none;
    line-height: normal;
    padding: 0.5rem;
    height: 12rem;
    border: 1px black;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.have {
    background-color: gold;
    box-shadow: 1px 1px 3px 1px grey;
}

.donothave {
    background-color: lightgrey;
    box-shadow: inset 1px 1px 3px 1px grey;
}

.achievement-overflow {
    /*  height: 27rem; */
    height: 52vh;
    overflow: auto;
}

.tab-overflow {
    /*  height: 30rem; */
    height: 57vh;
    overflow-x: visible;
    overflow-y: auto;
}

.disable-button {
    opacity: 0.6;
    color: gainsboro;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.2rem;
    background-color: #efefef;
    vertical-align: bottom;
    font-size: 0.75em;
}


/* tech tree style */

.tech-info {
    margin: auto;
    width: 65rem;
    height: 8rem;
    display: block;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.tech-info a {
    display: block;
    line-height: 1;
}

.tree-overflow {
    height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.tech-tree li {
    text-align: center;
    list-style-type: none;
}

.tech-tree li input[type="radio"] {
    display: none;
}

.tech-tree ul li label {
    width: 10rem;
    display: inline-block;
    box-shadow: inset 1px 1px 2px 1px grey;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: lightgrey;
    background-color: lightgrey;
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.tech-tree ul li label.purchased {
    box-shadow: none;
    background-color: gold;
    color: black;
}

.tech-tree ul li label.available {
    box-shadow: none;
    background-color: #47A5DF;
    color: white;
}

.tech-tree ul li label.available:hover,
.tech-tree ul li label.purchased:hover,
.tech-tree ul li input[type="radio"]:checked + label {
    /* Google Material Shadow based on https://codepen.io/sdthornton/pen/wBZdXq  */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
}


/* create connector lines between each item in the list */

.tech-tree ul li:after {
    content: '';
    position: relative;
    margin-top: -6px;
    left: 50%;
    display: block;
    border-left: 1px solid black;
    height: 12px;
}

.purchased ~ .tech-tree ul li:after {
    border-color: orange;
}


/* remove connector from last child/terminal node in the list */

.tech-tree ul li:last-child:after {
    display: none;
}

.left-branch:before {
    content: 'Occult';
    position: relative;
    display: block;
    left: 50%;
}

.right-branch:before {
    content: 'Super Science';
    position: relative;
    display: block;
    left: 40%;
}

@media only screen and (min-width: 768px) {
    .main-branch ul li:last-child:after {
        content: '';
        border-left: 1px solid black;
        height: 15px;
        position: relative;
        display: block;
        left: 50%;
    }
    .main-branch {
        margin-bottom: -2rem;
    }
    .left-branch:before,
    .right-branch:before {
        top: -30px;
    }
    .main-branch ul:after {
        content: '';
        position: relative;
        display: block;
        left: 25%;
        border-top: 1px solid black;
        width: 50%;
    }
    .left-branch ul:before {
        content: '';
        position: relative;
        display: block;
        left: 50%;
        border-top: 1px solid black;
        width: 50%;
        margin-top: -19px;
    }
    .right-branch ul:before {
        content: '';
        position: relative;
        display: block;
        border-top: 1px solid black;
        width: 50%;
        margin-top: -19px;
    }
    .left-branch ul li:first-child:before,
    .right-branch ul li:first-child:before {
        content: '';
        border-left: 1px solid black;
        height: 15px;
        position: relative;
        display: block;
        left: 50%;
    }
}


/*
@media only screen and (min-width: 900px) {
  .main-branch {
    margin-bottom: -24px;
  }
}

@media only screen and (min-width: 1024px) {
  .main-branch {
    margin-bottom: -25px;
  }
}
*/

@media only screen and (min-width: 1440px) {
    .main-branch {
        margin-bottom: -1.95rem;
    }
}