body {
    background: #fdfdfd;
    /*  background: #DAF0EE;*/
}

/*
.button-retail{background-color:#58AA00;border-color:#58AA00;color:#fff} 
.button-retail.open{background-color:#4b9000}
*/

.button-retail {
    background-color: #47A5DF;
    border-color: #47A5DF;
    color: #fff
}

.button-retail.open {
    background-color: #319adb
}

.button-card {
    background-color: #47A5DF;
    border-color: #47A5DF;
    color: #fff
}

.button-card.open {
    background-color: #319adb
}

.button-marketing {
    background-color: #47A5DF;
    border-color: #47A5DF;
    color: #fff
}

.button-marketing.open {
    background-color: #319adb
}


/*
.button-marketing{background-color:#8b008b;border-color:#8b008b;color:#fff}
.button-marketing.open{background-color:#720071}
*/

.button-right {
    position: absolute;
    bottom: 1rem;
    right: 4rem;
}

.button-left {
    position: absolute;
    bottom: 1rem;
    left: 4rem;
}

input[type="text"]#gamename {
    background: none;
    text-align: center;
    font-size: 2em;
    font-style: italic;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}

.page-heading {
    @include page-heading();
}

@media screen and (min-width: 360px) {
    .card-style {
        width: 9em;
        height: 10em;
    }
}

.label {
    border-radius: 20px;
}

.card-style {
    -ms-flex-line-pack: center;
    align-content: center;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
    background: none;
    line-height: normal;
    padding: 0.5rem;
    height: 12rem;
    border: 1px black;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.have {
    background-color: gold;
    box-shadow: 1px 1px 3px 1px grey;
}

.donothave {
    background-color: lightgrey;
    box-shadow: inset 1px 1px 3px 1px grey;
}

.achievement-overflow {
    /*  height: 27rem; */
    height: 52vh;
    overflow: auto;
}

.tab-overflow {
    /*  height: 30rem; */
    height: 57vh;
    overflow-x: visible;
    overflow-y: auto;
}

.disable-button {
    opacity: 0.6;
    color: gainsboro;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.2rem;
    background-color: #efefef;
    vertical-align: bottom;
    font-size: 0.75em;
}

/*
progress {
    background-color: blueviolet;
    border: 0;
    height: 20px;
    border-radius: 9px;
}

progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.progresslabel {
    color: white;
    position: relative;
    left: 2rem;
    top: -1.6rem;
    font-size: small;
}*/
