<div class="ngdialog-theme-default">
    <form name="delete">
        <div class="row">
        Are you sure you want to delete your save file? It'll be gone forever!<br><br>
        </div>
        <div class="row">
        <section class="col-half">
            <button class="button button-red xs" ng-click="closeWarning()">No, don't delete it</button>
        </section>
        <section class="col-half">
            <button class="button button-green pull-right xs" role="button" ng-click="resetGame()">Yes, delete it</button>
        </section>
            </div>
    </form>
</div>