<div class="ngdialog-theme-default">
    <form name="delete">
        <div class="row">
        Are you sure you want to delete your save file? It'll be gone forever!<br><br>
        </div>
        <div class="row">
            <button class="button button-small button-red button-left" ng-click="closeWarning()">No, don't delete it</button>
            <button class="button button-small button-green button-right" role="button" ng-click="resetGame()">Yes, delete it</button>
        </div>
    </form>
</div>